<!DOCTYPE html>
<html>
<head>
  <title>Visuals</title>
</head>
<body style="min-height:100%"><div height="100%">
  <iframe style="position: absolute; height: 100%; border: none; width:100%" src="https://env-72355.customer.cloud.microstrategy.com:443/MicroStrategy/servlet/mstrWeb?evt=3186&src=mstrWeb.3186&subscriptionID=3D51472411E7B70B294E0080EFB5EBD9&Server=ENV-72355LAIOUSE1&Project=MicroStrategy%20Tutorial&Port=0&share=1&hiddensections=header,path,dockTop,dockLeft,footer"></iframe>
</div>
</body>
