a#topText.Contact {
  color:red;
}
#contactImage{
  border: 0px;
}
#titleText{
  text-align: center;
}
#contactText{
  color:#0057A9;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}
h3{
  color: #EA9213;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}
#content{
  text-align: center;
}
#id_message{
  border-style: solid;
    border-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
  border-color: #0057A9;
}
#id_cc_myself{
  border-style: solid;
    border-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
  border-color: #0057A9;
}
#id_subject{
  border-style: solid;
    border-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
  border-color: #0057A9;
}
#id_sender{
  border-style: solid;
    border-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
  border-color: #0057A9;
}
#submitButton{
  color: white;
  background: #0057A9;
  font-weight: bold;
  border: 2px solid;
    border-radius: 25px;
}
