{% extends 'coreSite/base.html' %} {% load staticfiles %} {% block title %} About Me {% endblock %} {% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'coreSite/css/about.css' %}" /> {% endblock %} {% block content %}

<div>
<h1>About me</h1>
<h3>Quick Rundown</h3>
<p>
  I'm a college student from Atlanta attending Gergia Tech for Computer Science. I grew up in the Lilburn/ Stone Mountain area and went to GSMST for high school. During high school, I learned some programming from robotics as well as some basic web development. I enjoy programming, especially working on sites such as this one or just learning. If there isn't something I know, I am always eager to learn. If you'd like to see what I'm up to, be sure to check out my blog posts. If you'd like to work on a project, let's talk. :)
</p>
<p>
  Click here for some more stuff about me :)
</p>
</div>
<div>
<h1>Skills</h1>
<ul>
  <li>
    Web Development
  </li>
  <li>
    Django
  </li>
  <li>
    POSTGRE SQL
  </li>
  <li>
    Basic Robotics
  </li>
  <li> Basic Video Producer</li>
  <li>
    Basic 3D modeling
  </li>
</ul>
</div>
<div>
<h1>Resume</h1>
<h4>Here is my resume:</h4>
<iframe src="https://docs.google.com/document/d/1I69Fo2EG_zR0XbW29sfnJmJWJO0LARwpW9cfoP7b8SI/pub?embedded=true"style="width:80%;height:100%"></iframe>

<p>
  Click <a href="" id="resume" onclick='window.open("https://docs.google.com/document/d/1I69Fo2EG_zR0XbW29sfnJmJWJO0LARwpW9cfoP7b8SI/edit?usp=sharing");return false;'>here</a> for a downloadable copy
</p>
</div>


{% endblock %}
