{% load static %}
<link href="{% static 'coreSite/css/bootstrap.min.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'coreSite/js/bootstrap.min.js' %}"></script>
{% block links %}
{% endblock %}
<html>
   <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}{% endblock %}</title>
   </head>
   <body>
     <!-- Nav bar -->
     <ul>
       <li>
         Home
       </li>
       <li>
         Projects
       </li>
       <li>
         Blog
       </li>
       <li>
         Hobbies
       </li>
       <li>
         Contact Me
       </li>
     </ul>
     <!-- End Nav -->
{% block content %}
{% endblock %}
<footer class="footer">
      <div class="container" style="display: inline">
        <p>
          Created by Shubham Gupte
        </p>
        <ul>
          <li>
            Home
          </li>
          <li>
            Projects
          </li>
          <li>
            Blog
          </li>
          <li>
            Hobbies
          </li>
          <li>
            Contact Me
          </li>
        </ul>
      </div>
    </footer>
</body>
</html>
