{% load static %}
<link rel="stylesheet" href="{% static 'coreSite/home.css' %}" type="text/css" />
<link href="{% static 'coreSite/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:500" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'coreSite/js/bootstrap.min.js' %}"></script>
<script src="{% static 'coreSite/js/home.js' %}"></script>
<html>
   <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Home</title>
   </head>
   <body>
     <div id= "cover"></div>

     <nav class="navbar navbar-default navbar-fixed-top" id = "homeNav">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#" id ="topText">Shubham Gupte</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse" id ="topText">
         <ul class="nav navbar-nav navbar-right" >
           <li><a href="../navbar/" id ="topText">Projects  </a></li>
           <li><a href="../navbar-static-top/" id ="topText">Blog  </a></li>
           <li><a href="./" id ="topText">Hobbies  </a></li>
           <li><a href="../navbar/" id ="topText">Contact Me  </a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
   <div class="bg">
   </div>



   <footer class="footer navbar-fixed-bottom" id = "homeFoot">
        <div class="container" id ="topText">
          <span class="text-muted">Place sticky footer content here.</span>
        </div>
      </footer>
</body>
</html>
