#homeNav{
  background-color: transparent;
  border: 0;
  color: white;
}

body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("background1.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#abovePic{
  
}
#homeFoot {
  background-color: transparent;

}
#cover {
    background: url("loading.gif") no-repeat scroll center center #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
}
#topText{
  text-decoration: none;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5em;
}
#topText:hover{
   border-bottom: 4px solid red;
   transition: 0.4s;
}
#topText:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
