#homeNav {
	background-color: white;
	border: 0;
	color: white;
}
#topText {
	text-decoration: none;
	color: black;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5em;
}

#homeFoot {
	text-decoration: none;
	color: white;
	font-family: 'Roboto Mono', monospace;
	font-size: 1.5em;
}
#topText:hover {
	border-bottom: 4px solid red;
	transition: 0.4s;
}

#topText:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
body { padding-top: 40px;
padding-bottom: 40px; }
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
